/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

button {
	@apply px-1.5 py-0.5 cursor-default rounded-[3px] border bg-[#f0f0f0] border-[#767676] hover:bg-[#e5e5e5] hover:border-[#4f4f4f];
}
